*{
  padding:0;
  margin:0;
}

html,body,#app{
  width:100%;
  height:100%;
  color: #333;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #F4EFEF;
  // overflow: hidden;
}
ul,ol,li{
  list-style: none;
}
input{
  border:none !important;
  outline:none;
}

.flex{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;
}
.flex-align-start{
  align-items: flex-start;
}
.flex-align-end{
  align-items: flex-end;
}
.flex-align-center{
  align-items: center;
}
.flex-align-stretch{
  align-items: stretch;
}
.flex-justify-center{
  justify-content: center;
}
.flex-justify-end{
  justify-content: flex-end;
}
.flex-justify-around{
  justify-content: space-around;
}
.flex-justify-between{
  justify-content: space-between;
}
.flex-item-start{
  align-self: flex-start;
}
.flex-item-center{
  align-self: center !important;
}
.flex-item-end{
  align-self:flex-end;
}
.flex-flow-row-wrap{  
  flex-flow:row wrap;
}
.flex-flow-row-nowrap{
  flex-flow: row nowrap;
}
.flex-flow-col-wrap{
  flex-flow: column wrap;
}
.flex-flow-col-nowrap{
  flex-flow: column nowrap;
}
.flex-empty{
  flex:1;
}
.text-center{
  text-align: center;
}
.f18{
  font-size: 18px;
}
.f16{
  font-size: 16px !important;
}
.f14{
  font-size: 14px !important;
}
.f13{
  font-size: 13px !important;
}
.f12{
  font-size: 12px;
}
.cccc{
  color: #ccc;
}
.c999{
  color:#999;
}
.c666{
  color: #666;
}
.c333{
  color: #333;
}
.c000{
  color: #000;
}
.cblue{
  color: #26a2ff;
}
.margin-btm-5{
  margin-bottom:.3125rem;
}
.margin-btm-10{
  margin-bottom:.625rem;
}
.margin-btm-15{
  margin-bottom:0.9375rem;
}
.margin-right-5{
  margin-right:.3125rem;
}
.margin-right-10{
  margin-right:.625rem;
}

img[alt="upload"]{
  width:40px;
  height:40px;
  border-radius: 4px;
}
img[alt="delete"]{
  width:22px;
  height:22px;
}
img[alt='clear']{
  width:20px;
  height:20px;
  margin-right:.625rem;
}